# {{ ansible_managed }}
[Unit]
Description=Global {{ skarnet_s6_log_service_name }} service

[Service]
ExecStart=/bin/s6-log {{ skarnet_s6_log_service_logscript }} {{ skarnet_s6_log_service_logdir }}
StandardInput=socket
