#!/bin/execlineb -P
s6-envdir -I {{ skarnet_s6_services_dir }}/.s6-svscan/env
s6-setsid -qb
redirfd -r 0 /dev/null
redirfd -wnb 1 {{ skarnet_s6_rundir }}/logger
fdmove -c 2 1
exec -c -a s6-svscan
s6-svscan -t0 {{ skarnet_s6_services_dir }}
