# {{ ansible_managed }}
# Type Path Mode UID GID Age Argument
d {{ skarnet_s6_rundir }} 0755 root root - -
{% if skarnet_s6_enabled %}
C {{ skarnet_s6_services_dir }} - - - - {{ skarnet_s6_services_dir_src }}
{% endif %}

